//
$border: 2px solid $ebony;
$boxShadow: 5px 5px $black;

/* General Reset */
* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
	height: 100vh;
	max-width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;							/* Chrome */
}	

body {
  -ms-overflow-style: none;  	/* IE and Edge */
  scrollbar-width: none;  		/* Firefox */

  .blocked {
		overflow-y: hidden;
	}
}

figure {
  border: 2.5px solid $black;
  box-shadow: $boxShadow;
  min-height: 12rem;
  margin: 0 auto;
  width: 100%;
}

input {
  height: 0;
  opacity: 0;
  width: 0;
}

svg {
  margin-left: 0.5rem;
}

.App {
  background: $supernova;
  height: 100vh;
}

.LandingView,
.IntroView1 {

  @include defaultFlex;

  background: $supernova;
  flex-direction: column;
  height: 100vh;
  padding: 0 1rem;

  &__button {
    background: $salmon;
    border: $border;
    margin: 0 auto;
    padding: 12px 60px;

    button {
      align-items: flex-end;
    }
  }
}

.TasksTodo__headlineWrapper,
.TasksDone__headlineWrapper {

  @include defaultFlex;

  border-bottom: $border;
  justify-content: space-between;

  svg {
    font-size: 2rem;
    margin: 0;
  }
}


/// FROM HERE
.AddEditTask {

  @include defaultFlex;

  align-items: inherit;
  background: $white;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  padding: 0 1rem;
  padding-top: 3rem;

  &__buttons {

    @include defaultFlex;

    justify-content: space-between;
    margin-bottom: 1rem;

    button {
      align-items: center;
    }
  }

  &__goBack svg {
    margin: 0;
    margin-right: 0.5rem;
  }

  &__confirm button {

    color: $dodger-blue;

    &:disabled {
      color: $silver;
    }
  }
}

.AddEditTask__choice {

  @include defaultFlex;

  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  
  &-label {

    @include defaultFlex;

    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 100%;

    svg {
      margin: 0;
      margin-right: 0.5rem;
    }
  }

  &--speed .AddEditTask__choice-radio.-selected {
    background: $salmon;
  }
  
  &--urgency .AddEditTask__choice-radio.-selected {
    background: $cornflower-blue;
  }
  
  &--fun .AddEditTask__choice-radio.-selected {
    background: $heliotrope;
  }
}

.AddEditTask__choice-radio-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.AddEditTask__choice-radio {

  @include defaultFlex;

  border: $border;

  label {

    @include defaultFlex;

    padding: 0.5rem 1rem;
    text-align: center;
  }
}

.AddEditTask__textarea {

  @include defaultFlex;

  align-items: flex-start;
  flex-direction: column;

  label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  textarea {
    border: 0;
    font-family: $textFont;
    margin-bottom: 2rem;
    resize: none;

    &:focus::placeholder {
      color: transparent;
    }
  }
}