.LandingView {
  
  &__headline {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: left;
  }

  &__image {
    margin-bottom: 11rem;
  }

  @include tablet-viewport {

    &__image {
      margin-bottom: 7rem;

      img {
        max-height: 16rem;
      }
    }
  }
}