.IntroView1 {

  &__headline {
    margin: 2rem auto;
    max-width: 12rem;
  }

  &__image {
    margin-bottom: 3rem;
  }

  &__subheadline {
    margin-bottom: 0.5rem;
  }
  
  &__sectionParagraphs {
    margin-bottom: 4rem;
  }
}